<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110981279-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110981279-1');
</script>

  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K6Q8Q8S');</script>
<!-- End Google Tag Manager -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  
                
<!--MB_OPC-->
<script data-cfasync='false'>   
                  if(window.location.pathname=='/securecheckout'){
                  document.title = 'Secure checkout';
                  var css = 'body > :not(#cartLoader) {display:none !important}',head = document.head || document.getElementsByTagName('head')[0],style = document.createElement('style');  
                  head.appendChild(style);style.appendChild(document.createTextNode(css));        
                  var svg = "<svg style='position:fixed;top:100px;left:50%;margin-left:-100px;' width='200px'  height='200px'  xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid' class='lds-rolling' style='background: none;'><circle cx='50' cy='50' fill='none' ng-attr-stroke='{{config.color}}' ng-attr-stroke-width='{{config.width}}' ng-attr-r='{{config.radius}}' ng-attr-stroke-dasharray='{{config.dasharray}}' stroke='#197bbd' stroke-width='2' r='15' stroke-dasharray='70.68583470577033 25.561944901923447' transform='rotate(243.197 50 50)'><animateTransform attributeName='transform' type='rotate' calcMode='linear' values='0 50 50;360 50 50' keyTimes='0;1' dur='1s' begin='0s' repeatCount='indefinite'></animateTransform></circle></svg>";
                  document.open();document.write("<!doctype ht"+"ml><ht"+"ml><bo"+"dy><div id='cartLoader' style='min-height:600px;width:100%;text-align:center;background-color: rgba(255, 255, 255, .5);position:absolute;z-index:9999999999'>"+svg+"</div></b"+"ody></ht"+"ml>");document.close();                
                  }
                  var opcSettings = {checkoutUrl : 'securecheckout', enabled : false, design : 1, skipCart : false, oneClickBuy : false, customJsFile : '', customCssFile : '', btnSelector : '', enablePopup: false, popupHtml : "",popupBkg : '#ffffff',upsells : [],boosters : {"booster1":"2","booster1_text":"Your order contains highly demanded item. Your order is reserved for <span id=\"timer\"><\/span> minutes!","booster1_text2":"Order reservation ended. You can still complete the order.","booster1_min":"10","booster2":"2","booster3":"1","booster3_heading":"\u00bfPor qu\u00e9 Estado Natural?","booster3_title1":"Garant\u00eda de 100% Satisfacci\u00f3n","booster3_text1":"Si no estas sastisfecho\/a con el producto, no te preocupes te lo cambiamos o hacemos el reembolso.","booster3_img1":"https:\/\/cdn.shopify.com\/s\/files\/1\/2216\/9173\/files\/Iconos_1.png?v=1589238739","booster3_title2":"M\u00e1s de 15,000 \u00f3rdenes entregadas","booster3_text2":"Desde nuestro centro de distribuci\u00f3n, hemos enviado a los 32 estados de M\u00e9xico m\u00e1s de 15,000 \u00f3rdenes. ","booster3_img2":"https:\/\/cdn.shopify.com\/s\/files\/1\/2216\/9173\/files\/Iconos_3.png?v=1589238756","booster3_title3":"100% Mexicana","booster3_text3":"Cuando compras en Estado Natural , no solo compras con m\u00ednimo desperdicio, tambi\u00e9n apoyas a peque\u00f1os productores en M\u00e9xico a quienes les compramos directamente.","booster3_img3":"https:\/\/cdn.shopify.com\/s\/files\/1\/2216\/9173\/files\/Iconos_2.png?v=1589238749","booster3_title4":"","booster3_text4":"","booster3_img4":"","booster4":"2","booster4_img":"","booster5":"1"}};
                  var opcLang = {completeOrder : "Completa tu \u00f3rden", payment : "Pago", shippingMethod : "M\u00e9todo de Env\u00edo", secureCheckout : "Secure Checkout", paymentNotice : "Favor de ingresar la informaci\u00f3n en los pasos anteriores para mostrar los m\u00e9todos de pago.",shippingNotice : "Favor de ingresar la informaci\u00f3n en el paso anterior para mostrar los m\u00e9todos de env\u00edo.",upsellTitle : "\u00bfQuisieras agregar esto? (Opcionall)",upsellAdded : "\u00a1El producto se ha agregado a tu carrito!",addToCheckout : "Agregar al carrito"};
                  </script>
<!--MB_OPC-->

                <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {% include 'google-fonts' %}

  <script>
    var theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    }

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  <!--[if (lte IE 9) ]>{{ 'match-media.min.js' | asset_url | script_tag }}<![endif]-->

  {% if template.directory == 'customers' %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'lazysizes.min.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  {% include 'buddha-megamenu-before' %}
  
  {{ content_for_header }}

  {% include 'bold-common' %}

</head>

<body class="template-{{ template | split: '.' | first }}">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K6Q8Q8S"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  {% include 'buddha-megamenu-wireframe' %}

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div id="SearchDrawer" class="search-bar drawer drawer--top">
    <div class="search-bar__table">
      <div class="search-bar__table-cell search-bar__form-wrapper">
        <form class="search search-bar__form" action="/search" method="get" role="search">
          <button class="search-bar__submit search__submit btn--link" type="submit">
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
          </button>
          <input class="search__input search-bar__input" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
        </form>
      </div>
      <div class="search-bar__table-cell text-right">
        <button type="button" class="btn--link search-bar__close js-drawer-close">
          {% include 'icon-close' %}
          <span class="icon__fallback-text">{{ 'general.search.close' | t }}</span>
        </button>
      </div>
    </div>
  </div>

  {% section 'header' %}

  <div class="page-container" id="PageContainer">

    <main class="main-content" id="MainContent" role="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

  </div>
  
  {% if template contains 'product'%}
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script>
   <script src="//unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   <script>
           
     fx_quick_qty = {
       _construct: function(){
         $buttons = $('.quick-qty');
         $input_qty = $('#Quantity');
         $subtotal = $('.subtotal');
         $product_form = $('.product-form');
         $cart = $('.site-header__cart');
       },

       _changeValueJS: function(el){
         el_value = el.getAttribute('value');
         
         $input_qty.val(el_value);
         $input_qty.trigger('change');
       },
       
       _changeValue: function($el){
         el_value = $el.attr('value');
         
         $input_qty.val(el_value);         
       },
       
       _parseNumber: function(value){
         if (typeof value == 'number') {
           return value;
         }

         return Number(value.replace(/[^0-9\.-]+/g,""));
       },
       
       _parseMoney(value) {
         return '$' + value.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
       },
       
       _updateSubtotal: function($qty){
         price = fxQQ._parseNumber($subtotal.attr('data-price'));
         qty   = $qty.val();
         
         subtotal = fxQQ._parseMoney(price * qty);
         
         $subtotal
         .find('.set')
         .text('('+subtotal+')');
       },
       
       _addToCart: function(){
         $.post('/cart/add.js',
           $('form[action="/cart/add"]').serialize()
         ).always (function(data){
		   
           if(data.status == 200 ){             
			$.get('/cart.js')
            .always(function(data){
              dataGet = $.parseJSON(data.responseText);
              
              $text = $cart.find('.site-header__cart-count span:first')
              
              if($text.lenght > 0){
              	$text.text(dataGet.item_count);
              }else{
              	$cart.append('<div id="CartCount" class="site-header__cart-count"><span>'+ dataGet.item_count +'</span><span class="icon__fallback-text medium-up--hide">artículos</span></div>');
              }
              
              swal({
               title: "¡Producto Agregado!",
               text: "El producto se agregó correctamente al carrito.",
               icon: 'success',
               buttons: {
                 cancel: "Seguir Comprando",
 			     goCart: {
                    text: "Ir al carrito",
                    value: "go",
                 },
               }
              }).then((value) => {
                if (value == 'go') {                                   
                 location.href = '/cart';
                }
              });
              
              $cart.removeClass('active');
              setTimeout(function(){
                $cart.addClass('active');
              }, 100);              
            });             
           }else{
             dataPost = $.parseJSON(data.responseText);
             swal({
               title: dataPost.message,
               text: dataPost.description,
               icon: 'error'
             });
           }                      
         });
       },

       init: function(){
         this._construct();
         fxQQ = this;
         //--  
         
         $buttons
         .on('click', function(){
           fxQQ._changeValueJS(this);
         });
         
         $input_qty
         .on('change', function(){
           fxQQ._updateSubtotal($(this));
         });
         
         $product_form
         .submit(function(event){
           event.preventDefault();
           fxQQ._addToCart();
         });
       }
     }
      
     $(document).ready(function(){
       fx_quick_qty.init();
     });      
     
   </script>
  {% endif %}
<!-- BEEKETINGSCRIPT CODE START -->{% include 'bk-tracking' %}<!-- BEEKETINGSCRIPT CODE END -->{% include 'booster-discounts' %}
</body>
</html>
