<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->

<head>{% render 'pagefly-head' %}
 {%- render 'layouthub_header' -%}<meta name="p:domain_verify" content="4b3e08484f3fef0ae5d5ca9de736f955"/>
  <meta name="p:domain_verify" content="4b3e08484f3fef0ae5d5ca9de736f955"/>


  <meta name="google-site-verification" content="jfzCGPYYUfNVQdS45rGe7KtbZgFZEca8nrVzP5jMVbI" />

  <script src="https://apis.google.com/js/platform.js?onload=renderOptIn" async defer></script>

<script>
  window.renderOptIn = function() {
    window.gapi.load('surveyoptin', function() {
      window.gapi.surveyoptin.render(
        {
          // REQUIRED FIELDS
          "merchant_id": 557559220,
          "order_id": "ORDER_ID",
          "email": "CUSTOMER_EMAIL",
          "delivery_country": "COUNTRY_CODE",
          "estimated_delivery_date": "YYYY-MM-DD",

          // OPTIONAL FIELDS
          "products": [{"gtin":"GTIN1"}, {"gtin":"GTIN2"}]
        });
    });
  }
</script>
 
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K6Q8Q8S');</script>
<!-- End Google Tag Manager -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <meta name="facebook-domain-verification" content="3wvo6xa30h4y27x2tb2a6qz397mfyg" />
  
   {% if template contains 'product' %}
    <meta property="og:type" content="product" />
    <meta property="og:title" content="{{ product.title }}" />
    <meta property="og:description" content="{{ product.description | strip_html }}" />
    <meta property="og:url" content="{{ product.url }}"/>
    <meta property="og:site_name" content="{{ shop.name }}" />
    <meta property="product:price:amount" content="{{ product.price | money_without_currency }}" />
    <meta property="product:price:currency" content="{{ currency.iso_code }}" />
    <meta property="og:availability" content="{% if product.available %}instock{% else %}out of stock{% endif %}" />
    {% endif %}
  
                
<!--MB_OPC-->
<script data-cfasync='false'>   
                  if(window.location.pathname=='/securecheckout'){
                  document.title = 'Secure checkout';
                  var css = 'body > :not(#cartLoader) {display:none !important}',head = document.head || document.getElementsByTagName('head')[0],style = document.createElement('style');  
                  head.appendChild(style);style.appendChild(document.createTextNode(css));        
                  var svg = "<svg style='position:fixed;top:100px;left:50%;margin-left:-100px;' width='200px'  height='200px'  xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid' class='lds-rolling' style='background: none;'><circle cx='50' cy='50' fill='none' ng-attr-stroke='{{config.color}}' ng-attr-stroke-width='{{config.width}}' ng-attr-r='{{config.radius}}' ng-attr-stroke-dasharray='{{config.dasharray}}' stroke='#197bbd' stroke-width='2' r='15' stroke-dasharray='70.68583470577033 25.561944901923447' transform='rotate(243.197 50 50)'><animateTransform attributeName='transform' type='rotate' calcMode='linear' values='0 50 50;360 50 50' keyTimes='0;1' dur='1s' begin='0s' repeatCount='indefinite'></animateTransform></circle></svg>";
                  document.open();document.write("<!doctype ht"+"ml><ht"+"ml><bo"+"dy><div id='cartLoader' style='min-height:600px;width:100%;text-align:center;background-color: rgba(255, 255, 255, .5);position:absolute;z-index:9999999999'>"+svg+"</div></b"+"ody></ht"+"ml>");document.close();                
                  }
                  var opcSettings = {checkoutUrl : 'securecheckout', enabled : false, design : 1, skipCart : false, oneClickBuy : false, customJsFile : '', customCssFile : '', btnSelector : '', enablePopup: false, popupHtml : "",popupBkg : '#ffffff',upsells : [],boosters : {"booster1":"2","booster1_text":"Your order contains highly demanded item. Your order is reserved for <span id=\"timer\"><\/span> minutes!","booster1_text2":"Order reservation ended. You can still complete the order.","booster1_min":"10","booster2":"2","booster3":"1","booster3_heading":"\u00bfPor qu\u00e9 Estado Natural?","booster3_title1":"Garant\u00eda de 100% Satisfacci\u00f3n","booster3_text1":"Si no estas sastisfecho\/a con el producto, no te preocupes te lo cambiamos o hacemos el reembolso.","booster3_img1":"https:\/\/cdn.shopify.com\/s\/files\/1\/2216\/9173\/files\/Iconos_1.png?v=1589238739","booster3_title2":"M\u00e1s de 15,000 \u00f3rdenes entregadas","booster3_text2":"Desde nuestro centro de distribuci\u00f3n, hemos enviado a los 32 estados de M\u00e9xico m\u00e1s de 15,000 \u00f3rdenes. ","booster3_img2":"https:\/\/cdn.shopify.com\/s\/files\/1\/2216\/9173\/files\/Iconos_3.png?v=1589238756","booster3_title3":"100% Mexicana","booster3_text3":"Cuando compras en Estado Natural , no solo compras con m\u00ednimo desperdicio, tambi\u00e9n apoyas a peque\u00f1os productores en M\u00e9xico a quienes les compramos directamente.","booster3_img3":"https:\/\/cdn.shopify.com\/s\/files\/1\/2216\/9173\/files\/Iconos_2.png?v=1589238749","booster3_title4":"","booster3_text4":"","booster3_img4":"","booster4":"2","booster4_img":"","booster5":"1"}};
                  var opcLang = {completeOrder : "Completa tu \u00f3rden", payment : "Pago", shippingMethod : "M\u00e9todo de Env\u00edo", secureCheckout : "Secure Checkout", paymentNotice : "Favor de ingresar la informaci\u00f3n en los pasos anteriores para mostrar los m\u00e9todos de pago.",shippingNotice : "Favor de ingresar la informaci\u00f3n en el paso anterior para mostrar los m\u00e9todos de env\u00edo.",upsellTitle : "\u00bfQuisieras agregar esto? (Opcionall)",upsellAdded : "\u00a1El producto se ha agregado a tu carrito!",addToCheckout : "Agregar al carrito"};
                  </script>
<!--MB_OPC-->

                <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'general-footer-design.scss.css' | asset_url | stylesheet_tag }}
  {% include 'google-fonts' %}

  <script>
    var theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    }

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  <!--[if (lte IE 9) ]>{{ 'match-media.min.js' | asset_url | script_tag }}<![endif]-->

  {% if template.directory == 'customers' %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'lazysizes.min.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->
  {% comment %}
  {% include 'wlm-head' %}
  {% endcomment %}

  {% include 'meteor-menu', load: 'head' %}
  
  {%- if tinyscript -%}{{ content_for_header }}{%- else -%}{% render 'tiny-script-control' %}{%- endif -%} {% include 'tricon-badge' %}

 

  {% include 'bold-common' %}
{% include 'hide-paypal' %}

  
<script src="//staticxx.s3.amazonaws.com/aio_stats_lib_v1.min.js?v=1.0"></script>




{% include 'limoniapps-discountninja-header' %}
{{ 'ndnapps-easyfaqs.css' | asset_url | stylesheet_tag }}
  {% include 'judgeme_core' %}  
  {% if template contains 'page.locations' %}
  	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
  {% endif %}
 
{% render 'pagefly-header' %}
 {% include 'sales-motivator-init' %}{% include 'sales-motivator-init' %} 
                  {% include 'bss-product-labels-configs' %}
                    <script src='https://appdevelopergroup.co/apps/smartbadge/js/smartbadge.js?shop=estado-natural.myshopify.com' type='text/javascript'></script>
     
<script src="https://kit.fontawesome.com/9f325911d5.js" crossorigin="anonymous"></script>
{% include 'discount-combine' %}

    <!-- Upsell & Cross Sell Kit by Logbase - Starts -->
      <script src='https://upsell-app.logbase.io/lb-upsell.js?shop=estado-natural.myshopify.com' defer></script>
    <!-- Upsell & Cross Sell Kit by Logbase - Ends -->
{% include 'sca.storepickup' %}
</head>
              

<body class="template-{{ template | split: '.' | first }}">
{% section 'alpaca' %}

  <style>
    .cbb-shipping-rates-calculator-country-select, 
    .cbb-shipping-rates-calculator-region-select {
      -webkit-appearance: menulist !important;
         -moz-appearance: menulist !important;
    }
  </style>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K6Q8Q8S"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  
  
  

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div id="SearchDrawer" class="search-bar drawer drawer--top">
    <div class="search-bar__table">
      <div class="search-bar__table-cell search-bar__form-wrapper">
        <form class="search search-bar__form" action="/search" method="get" role="search">
          <button class="search-bar__submit search__submit btn--link" type="submit">
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
          </button>
          <input class="search__input search-bar__input" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
        </form>
      </div>
      <div class="search-bar__table-cell text-right">
        <button type="button" class="btn--link search-bar__close js-drawer-close">
          {% include 'icon-close' %}
          <span class="icon__fallback-text">{{ 'general.search.close' | t }}</span>
        </button>
      </div>
    </div>
  </div>
  
  

  {% section 'header' %}
  
  
  {% include 'side-cart'%}
  
  {% include 'modal-help' %}

  <div class="page-container" id="PageContainer">
    
    

    <main class="main-content" id="MainContent" role="main">
      {% render 'breadcrumbs' %}
      {% comment %}<!--LayoutHub-Workspace-Start-->{{ content_for_layout }}
<!--LayoutHub-Workspace-End-->{% include 'wlm-body' %}{% endcomment %}
      <!--LayoutHub-Workspace-Start-->{{ content_for_layout }}
<!--LayoutHub-Workspace-End-->
    </main>

    {% section 'footer' %}

    <script src="//app.shippingratescalculator.com/js/core/main.min.js?timestamp=1652346848&shop=estado-natural.myshopify.com" defer></script>

    

    

    

    

    

    

    

    

    

    

    

    

  </div>
  
  
   <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script>-->
  <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-migrate-3.3.1.min.js"></script>
  {% if template contains 'page.locations' %}
    <script src="{{ "list.min.js" | asset_url }}"></script> 
    <!--<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>-->
    <!--<script src="https://unpkg.com/leaflet-gesture-handling@1.1.8/dist/leaflet-gesture-handling.min.js"></script>-->
  	<script src="{{ "leaflet.js" | asset_url }}"></script>  
  	<script src="{{ "leaflet-gesture-handling.min.js" | asset_url }}"></script> 
    <link rel="stylesheet" href="https://unpkg.com/leaflet-gesture-handling@1.1.8/dist/leaflet-gesture-handling.min.css" type="text/css">  	  
    {% endif %}
   <script src="{{ "app.js" | asset_url }}"></script>
   <script src="//unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.26.2/dist/sweetalert2.all.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
   <script src="{{ "menuModal.js" | asset_url }}"></script>
  {% if template == 'product' %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"></script>
  <script src="{{ "slider-products-template.js" | asset_url }}"></script>
{% endif %}
   <script>
           
     $(document).ready(function(){
      fx_quick_qty.init();
      fnShowQuickCart.init();
      fnAddToCartCategories.init();
      fnProductTabs.init();
      fnProductCollapses.init();
      fnRegular.make();
      fnMenuModal.init();
      {% if template contains 'page.locations' %}
      	fnSearch.init();
      {% endif %}
	  {% if template contains 'page.faqs' %}
       	fnFaqTabs.init();
       	fnFaqCollapses.init();
      {% endif %}
    });          
     
     {% if template contains 'page.locations' %}
     fnMap.init('https://cdn.shopify.com/s/files/1/2216/9173/files/marcador.png?v=1594410697', 'https://cdn.shopify.com/s/files/1/2216/9173/files/LOGO_FINAL.png?v=1508341738');     
     {% endif %}
     
   </script>
{% include 'booster-discounts' %}

  
  
  
<!-- BEEKETINGSCRIPT CODE START -->{% include 'bk-tracking' %}<!-- BEEKETINGSCRIPT CODE END --> 

  
 <script src='{{ 'ndnapps-jslibrary.js' | asset_url }}' defer='defer'></script>
<script src='{{ 'ndnapps-bannerslider.js' | asset_url }}' defer='defer'></script>
<input type="hidden" id="656565115116111114101" data-customer-id="{{ customer.id }}" data-customer-email="{{ customer.email }}" data-customer-name="{{ customer.first_name }} {{ customer.last_name }}"/><input type="hidden" name="aaaformbuilder_customer_logged_id" value="{{customer.id}}" id="aaaformbuilder_customer_logged_id">{% include 'limoniapps-discountninja-body' %}
{% include 'revjs' %}{% render 'preorder-now' %}
  <script src='{{ 'ndnapps-easyfaqs.js' | asset_url }}' defer='defer'></script>

        {%- render 'layouthub_footer' -%} 
  

 

{% render 'banana-stand-footer' %}
{% if content_for_header contains 'product_label' %}{% include 'bss-product-label-js' %}{% endif %}
<!-- **BEGIN** Hextom FSB Integration // Main Include - DO NOT MODIFY -->
    {% render 'hextom_fsb_main', product: product, customer: customer %}
    <!-- **END** Hextom FSB Integration // Main Include - DO NOT MODIFY -->
{% comment %}This is for Badge Master By Hulkapps{% endcomment %} {% include 'hulkcode_trustbadge' %}
  	{% if content_for_header contains 'upsell-now.herokuapp.com' %}{% render 'upsell-now', customer: customer, product: product, template: template, cart: cart %}{% endif %}
	{% include 'swin-widgets' %}  {% include 'smile-initializer' %}

<!-- WPD Start -->
                {% if customer.tags.size > 0 and template != 'cart' %}
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                      let checkoutbtninterval = setInterval(function(){
                        var x=document.querySelectorAll("input[name='checkout'], button[name='checkout'], input[name='goto_pp'], button[name='goto_pp'], input[name='goto_gc'], button[name='goto_gc'], [href$='checkout']");
                        var WPD_RedirectToCart = function(e) {
                          	e.stopPropagation();
                            e.preventDefault();
                            window.location = '/cart';
                            };
                            for (var i = 0; i < x.length; i++) {
                                x[i].addEventListener('click', WPD_RedirectToCart, false);
                            }
                        },500)
                });
              </script>
               {% endif %}
         

               {% if customer.tags.size > 0 and template == 'cart' %}
                 {% include 'wcp_cart' %}
               {% endif %}
               <!-- WPD End -->
  {{'tiny-img-link-preloader.js' | asset_url | script_tag }}
</body>
<!-- Start of estadonaturalhelp Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=8be89aa9-5b51-4fd8-8678-b4934e82de47"> </script>
<!-- End of estadonaturalhelp Zendesk Widget script -->
        
</html>
