<!--LH-SECTION-->
<section id="" data-section-id="b63u51h847i" data-section="collection-2" data-lh-page-id="254" data-lh-page-name="Homepage - Nabi" data-layouthub="section">  
 <div class="lh-banner-block">

	<div class="lh-banner-wrapper">

		<div class="lh-container">

			<div class="lh-wrap-title">

				<h3 class="lh-title"  data-lhi="title" data-lh-lang>{{'b63u51h847i.title' | t }}</h3>

			</div>

			<div class="lh-row">

				{% assign collection = collections['despensa-general'] %}
       
      <div class="lh-col-md-3">
        <div class="lh-banner-item">
            <div class="lh-wrap-image"  data-lhi="group_banner[0]image" data-lhi-child="a" data-lhis="group_banner-image"><a href="/collections/despensa-general" data-lhlink><img src="https://cdn.shopify.com/s/files/1/2216/9173/t/5/assets/2-2resized.jpg?v=1601935861441" alt="collection" width="100%" /></a></div>
            <div class="lh-banner-content lh-center c_dark">
              <h3 class='lh-collection-title'>
                <a href="{{collection.url}}">{{collection.title}}</a>
              </h3>
             
              </p>
            </div>
        </div>
      </div>
        
        {% assign collection = collections['especias-y-condimentos'] %}
       
      <div class="lh-col-md-3">
        <div class="lh-banner-item">
            <div class="lh-wrap-image"  data-lhi="group_banner[1]image" data-lhi-child="a" data-lhis="group_banner-image"><a href="/collections/especias-y-condimentos" data-lhlink><img src="https://cdn.shopify.com/s/files/1/2216/9173/t/5/assets/12-1_180x180_crop_center.jpg" alt="collection" width="100%" /></a></div>
            <div class="lh-banner-content lh-center c_dark">
              <h3 class='lh-collection-title'>
                <a href="{{collection.url}}">{{collection.title}}</a>
              </h3>
             
              </p>
            </div>
        </div>
      </div>
        
        {% assign collection = collections['granos-semillas-y-cereales'] %}
       
      <div class="lh-col-md-3">
        <div class="lh-banner-item">
            <div class="lh-wrap-image"  data-lhi="group_banner[2]image" data-lhi-child="a" data-lhis="group_banner-image"><a href="/collections/granos-semillas-y-cereales" data-lhlink><img src="https://cdn.shopify.com/s/files/1/2216/9173/t/5/assets/15-6resized.jpg?v=1601935845153" alt="collection" width="100%" /></a></div>
            <div class="lh-banner-content lh-center c_dark">
              <h3 class='lh-collection-title'>
                <a href="{{collection.url}}">{{collection.title}}</a>
              </h3>
             
              </p>
            </div>
        </div>
      </div>
        
        {% assign collection = collections['harinas'] %}
       
      <div class="lh-col-md-3">
        <div class="lh-banner-item">
            <div class="lh-wrap-image"  data-lhi="group_banner[3]image" data-lhi-child="a" data-lhis="group_banner-image"><a href="/collections/harinas" data-lhlink><img src="https://cdn.shopify.com/s/files/1/2216/9173/t/5/assets/16-2_180x180_crop_center.jpg" alt="collection" width="100%" /></a></div>
            <div class="lh-banner-content lh-center c_dark">
              <h3 class='lh-collection-title'>
                <a href="{{collection.url}}">{{collection.title}}</a>
              </h3>
             
              </p>
            </div>
        </div>
      </div>
        
        {% assign collection = collections['frutos-secos-y-fruta-deshidratada'] %}
       
      <div class="lh-col-md-3">
        <div class="lh-banner-item">
            <div class="lh-wrap-image"  data-lhi="group_banner[4]image" data-lhi-child="a" data-lhis="group_banner-image"><a href="/collections/frutos-secos-y-fruta-deshidratada" data-lhlink><img src="https://cdn.shopify.com/s/files/1/2216/9173/t/5/assets/14-1_180x180_crop_center.jpg" alt="collection" width="100%" /></a></div>
            <div class="lh-banner-content lh-center c_dark">
              <h3 class='lh-collection-title'>
                <a href="{{collection.url}}">{{collection.title}}</a>
              </h3>
             
              </p>
            </div>
        </div>
      </div>
        
        {% assign collection = collections['superfoods'] %}
       
      <div class="lh-col-md-3">
        <div class="lh-banner-item">
            <div class="lh-wrap-image"  data-lhi="group_banner[5]image" data-lhi-child="a" data-lhis="group_banner-image"><a href="/collections/superfoods" data-lhlink><img src="https://cdn.shopify.com/s/files/1/2216/9173/t/5/assets/3-1resized.jpg?v=1601935909596" alt="collection" width="100%" /></a></div>
            <div class="lh-banner-content lh-center c_dark">
              <h3 class='lh-collection-title'>
                <a href="{{collection.url}}">{{collection.title}}</a>
              </h3>
             
              </p>
            </div>
        </div>
      </div>
        
        {% assign collection = collections['snacks-y-botanas'] %}
       
      <div class="lh-col-md-3">
        <div class="lh-banner-item">
            <div class="lh-wrap-image"  data-lhi="group_banner[6]image" data-lhi-child="a" data-lhis="group_banner-image"><a href="/collections/snacks-y-botanas" data-lhlink><img src="https://cdn.shopify.com/s/files/1/2216/9173/t/5/assets/9-3_180x180_crop_center.jpg" alt="collection" width="100%" /></a></div>
            <div class="lh-banner-content lh-center c_dark">
              <h3 class='lh-collection-title'>
                <a href="{{collection.url}}">{{collection.title}}</a>
              </h3>
             
              </p>
            </div>
        </div>
      </div>
        
        {% assign collection = collections['untables'] %}
       
      <div class="lh-col-md-3">
        <div class="lh-banner-item">
            <div class="lh-wrap-image"  data-lhi="group_banner[7]image" data-lhi-child="a" data-lhis="group_banner-image"><a href="/collections/untables" data-lhlink><img src="https://cdn.shopify.com/s/files/1/2216/9173/t/5/assets/19-2_180x180_crop_center.jpg" alt="collection" width="100%" /></a></div>
            <div class="lh-banner-content lh-center c_dark">
              <h3 class='lh-collection-title'>
                <a href="{{collection.url}}">{{collection.title}}</a>
              </h3>
             
              </p>
            </div>
        </div>
      </div></div>

		</div>

	</div>

</div>
  </section><!--/LH-SECTION-->{%schema%}
{
    "name": "Collection",
    "settings": [
        {
            "type": "header",
            "content": "The section generated by [LayoutHub](https:\/\/www.layouthub.com).",
            "info": "LayoutHub provides tons of pre-built Layouts and Blocks\/Sections and focus on the simplicity for content editing, to help the merchants easy to build a nice store with drag, sorting and edit content only. "
        },
        {
            "type": "paragraph",
            "content": "Edit this section [here](https:\/\/app.layouthub.com\/editor?page=page&id=5edfb982189131762a3bb1e2)"
        }
    ],
    "presets": [
        {
            "name": "Collection",
            "category": "LayoutHub"
        }
    ],
    "locales": {
        "es": {
            "b63u51h847i": {
                "title": "QUEREMOS LLENAR TU DESPENSA Y TU CASA DE PURAS COSAS BUENAS"
            }
        },
        "en": {
            "b63u51h847i": {
                "title": "QUEREMOS LLENAR TU DESPENSA Y TU CASA DE PURAS COSAS BUENAS"
            }
        }
    }
}
{%endschema%}