<!--LH-SECTION-->
<section id="" data-section-id="pye31xbfw1j" data-section="testimonial-7" data-layouthub="section">  
 
<div class="lh-wrapper lh-testimonial-section">
  <div class="lh-container">
    <include data-live-title data-live-des data-live-loop data-live-use_auto_rotate data-live-nav_delay data-live-sliders data-live-sliders__active data-live-sliders__active data-name="slide" data-id="1">  
 <div class="lh-testimonial-wrapper">
  <div class="lh-wrap-content">
    <div class="lh-title-wrap">
      <h3 class="lh-title"  data-lhi="title" data-lh-lang>{{'pye31xbfw1j.title' | t }}</h3>
      <div class="lh-des"><p  data-lhi="des" data-lh-lang>{{'pye31xbfw1j.des_html' | t }}</p></div>
    </div>
    <div class="lh-testimonial-slide owl-carousel " data-items="3" data-nav="false" data-dots="true" data-loop="false" data-auto-height="false" data-margin="0" data-autoplay="false" data-autoplay-timeout="7000" >
     <div class="lh-items_slider" >
        <div class="lh-items_content">
          <div class="lh-wrap-quotation">
            <svg class="lni-quotation" version="1.1" width="36" height="36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
            <g>
              <path fill="currentColor" d="M91.2,25.3c-2.8-4.5-7.1-7.5-12.3-8.4c-5.4-1-11.1,0.4-15.5,3.8c-4.4,3.3-7.2,8.3-7.7,13.7c-0.5,5.4,1.1,10.6,4.6,14.7
                c2.9,3.4,6.7,5.7,10.9,6.6l-1.6,25.2l0.2,0.5c0.4,1.1,1.4,1.8,2.5,1.9c0.1,0,0.1,0,0.2,0c1.1,0,2.1-0.6,2.5-1.5
                c0.9-1.8,2-3.8,3.2-6.1c5.4-10.1,12.7-24,15.1-31.8C95.2,37.5,94.5,30.6,91.2,25.3z M88.1,42.2c-1.9,6.2-7.3,16.9-12.1,26L77,50.8
                l-2.7-0.2c-3.8-0.3-7.3-2.1-9.8-5c-2.5-2.9-3.7-6.7-3.3-10.6c0.4-3.9,2.3-7.4,5.5-9.8c2.6-2,5.7-3,8.8-3c0.8,0,1.6,0.1,2.4,0.2
                c4.6,0.8,7.2,3.6,8.6,5.8C89,32.1,89.5,37.4,88.1,42.2z"/>
              <path fill="currentColor" d="M28.9,17c-5.4-1-11.1,0.4-15.5,3.8C9,24.2,6.2,29.1,5.7,34.5c-0.5,5.4,1.1,10.6,4.6,14.7c2.9,3.4,6.7,5.7,10.9,6.6
                l-1.6,25.2l0.2,0.5c0.4,1.1,1.4,1.8,2.5,1.9c0.1,0,0.1,0,0.2,0c1.1,0,2-0.6,2.5-1.5c0.9-1.8,2-3.8,3.2-6.1
                c5.4-10.1,12.7-24,15.1-31.8c1.9-6.3,1.1-13.2-2.1-18.5C38.5,20.8,34.1,17.9,28.9,17z M38.1,42.2c-1.9,6.2-7.3,16.9-12.1,26
                L27,50.8l-2.7-0.2c-3.8-0.3-7.3-2.1-9.8-5c-2.5-2.9-3.7-6.7-3.3-10.6c0.4-3.9,2.3-7.4,5.5-9.8c2.6-2,5.7-3,8.8-3
                c0.8,0,1.6,0.1,2.4,0.2c4.6,0.8,7.2,3.6,8.6,5.8C39,32.1,39.5,37.4,38.1,42.2z"/>
            </g>
            </svg>
          </div>
          <h4 class="lh-s-title"  data-lhi="sliders[0]s_title" data-lh-lang data-lhis="sliders-s_title">{{'pye31xbfw1j.lh_ahjacp_title' | t }}</h4>
          <div class="lh-s-rating" data-rating=5 data-hub-attr-state="class%3D%22lh-s-rating%22%20data-rating%3D"   data-hub-attr-sliders_0_s_rating="sliders[0]s_rating" data-lhis="sliders-s_rating" ></div>
          <div class="lh-s-des"><p  data-lhi="sliders[0]s_des" data-lh-lang data-lhis="sliders-s_des">{{'pye31xbfw1j.lh_ahjacp_des_html' | t }}</p></div>
          <div class="lh-s-member">
            <div class="lh-mem-img"  data-lhi="sliders[0]s_img" data-lhis="sliders-s_img"></div>
            <div class="lh-mem-name"  data-lhi="sliders[0]s_mem" data-lh-lang data-lhis="sliders-s_mem">{{'pye31xbfw1j.lh_ahjacp_mem_html' | t }}</div>
          </div>
        </div>
      </div>
     <div class="lh-items_slider" >
        <div class="lh-items_content">
          <div class="lh-wrap-quotation">
            <svg class="lni-quotation" version="1.1" width="36" height="36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
            <g>
              <path fill="currentColor" d="M91.2,25.3c-2.8-4.5-7.1-7.5-12.3-8.4c-5.4-1-11.1,0.4-15.5,3.8c-4.4,3.3-7.2,8.3-7.7,13.7c-0.5,5.4,1.1,10.6,4.6,14.7
                c2.9,3.4,6.7,5.7,10.9,6.6l-1.6,25.2l0.2,0.5c0.4,1.1,1.4,1.8,2.5,1.9c0.1,0,0.1,0,0.2,0c1.1,0,2.1-0.6,2.5-1.5
                c0.9-1.8,2-3.8,3.2-6.1c5.4-10.1,12.7-24,15.1-31.8C95.2,37.5,94.5,30.6,91.2,25.3z M88.1,42.2c-1.9,6.2-7.3,16.9-12.1,26L77,50.8
                l-2.7-0.2c-3.8-0.3-7.3-2.1-9.8-5c-2.5-2.9-3.7-6.7-3.3-10.6c0.4-3.9,2.3-7.4,5.5-9.8c2.6-2,5.7-3,8.8-3c0.8,0,1.6,0.1,2.4,0.2
                c4.6,0.8,7.2,3.6,8.6,5.8C89,32.1,89.5,37.4,88.1,42.2z"/>
              <path fill="currentColor" d="M28.9,17c-5.4-1-11.1,0.4-15.5,3.8C9,24.2,6.2,29.1,5.7,34.5c-0.5,5.4,1.1,10.6,4.6,14.7c2.9,3.4,6.7,5.7,10.9,6.6
                l-1.6,25.2l0.2,0.5c0.4,1.1,1.4,1.8,2.5,1.9c0.1,0,0.1,0,0.2,0c1.1,0,2-0.6,2.5-1.5c0.9-1.8,2-3.8,3.2-6.1
                c5.4-10.1,12.7-24,15.1-31.8c1.9-6.3,1.1-13.2-2.1-18.5C38.5,20.8,34.1,17.9,28.9,17z M38.1,42.2c-1.9,6.2-7.3,16.9-12.1,26
                L27,50.8l-2.7-0.2c-3.8-0.3-7.3-2.1-9.8-5c-2.5-2.9-3.7-6.7-3.3-10.6c0.4-3.9,2.3-7.4,5.5-9.8c2.6-2,5.7-3,8.8-3
                c0.8,0,1.6,0.1,2.4,0.2c4.6,0.8,7.2,3.6,8.6,5.8C39,32.1,39.5,37.4,38.1,42.2z"/>
            </g>
            </svg>
          </div>
          <h4 class="lh-s-title"  data-lhi="sliders[1]s_title" data-lh-lang data-lhis="sliders-s_title">{{'pye31xbfw1j.lh_ahj7ag_title' | t }}</h4>
          <div class="lh-s-rating" data-rating=5 data-hub-attr-state="class%3D%22lh-s-rating%22%20data-rating%3D"   data-hub-attr-sliders_1_s_rating="sliders[1]s_rating" data-lhis="sliders-s_rating" ></div>
          <div class="lh-s-des"><p  data-lhi="sliders[1]s_des" data-lh-lang data-lhis="sliders-s_des">{{'pye31xbfw1j.lh_ahj7ag_des_html' | t }}</p></div>
          <div class="lh-s-member">
            <div class="lh-mem-img"  data-lhi="sliders[1]s_img" data-lhis="sliders-s_img"></div>
            <div class="lh-mem-name"  data-lhi="sliders[1]s_mem" data-lh-lang data-lhis="sliders-s_mem">{{'pye31xbfw1j.lh_ahj7ag_mem_html' | t }}</div>
          </div>
        </div>
      </div>
     <div class="lh-items_slider" >
        <div class="lh-items_content">
          <div class="lh-wrap-quotation">
            <svg class="lni-quotation" version="1.1" width="36" height="36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
            <g>
              <path fill="currentColor" d="M91.2,25.3c-2.8-4.5-7.1-7.5-12.3-8.4c-5.4-1-11.1,0.4-15.5,3.8c-4.4,3.3-7.2,8.3-7.7,13.7c-0.5,5.4,1.1,10.6,4.6,14.7
                c2.9,3.4,6.7,5.7,10.9,6.6l-1.6,25.2l0.2,0.5c0.4,1.1,1.4,1.8,2.5,1.9c0.1,0,0.1,0,0.2,0c1.1,0,2.1-0.6,2.5-1.5
                c0.9-1.8,2-3.8,3.2-6.1c5.4-10.1,12.7-24,15.1-31.8C95.2,37.5,94.5,30.6,91.2,25.3z M88.1,42.2c-1.9,6.2-7.3,16.9-12.1,26L77,50.8
                l-2.7-0.2c-3.8-0.3-7.3-2.1-9.8-5c-2.5-2.9-3.7-6.7-3.3-10.6c0.4-3.9,2.3-7.4,5.5-9.8c2.6-2,5.7-3,8.8-3c0.8,0,1.6,0.1,2.4,0.2
                c4.6,0.8,7.2,3.6,8.6,5.8C89,32.1,89.5,37.4,88.1,42.2z"/>
              <path fill="currentColor" d="M28.9,17c-5.4-1-11.1,0.4-15.5,3.8C9,24.2,6.2,29.1,5.7,34.5c-0.5,5.4,1.1,10.6,4.6,14.7c2.9,3.4,6.7,5.7,10.9,6.6
                l-1.6,25.2l0.2,0.5c0.4,1.1,1.4,1.8,2.5,1.9c0.1,0,0.1,0,0.2,0c1.1,0,2-0.6,2.5-1.5c0.9-1.8,2-3.8,3.2-6.1
                c5.4-10.1,12.7-24,15.1-31.8c1.9-6.3,1.1-13.2-2.1-18.5C38.5,20.8,34.1,17.9,28.9,17z M38.1,42.2c-1.9,6.2-7.3,16.9-12.1,26
                L27,50.8l-2.7-0.2c-3.8-0.3-7.3-2.1-9.8-5c-2.5-2.9-3.7-6.7-3.3-10.6c0.4-3.9,2.3-7.4,5.5-9.8c2.6-2,5.7-3,8.8-3
                c0.8,0,1.6,0.1,2.4,0.2c4.6,0.8,7.2,3.6,8.6,5.8C39,32.1,39.5,37.4,38.1,42.2z"/>
            </g>
            </svg>
          </div>
          <h4 class="lh-s-title"  data-lhi="sliders[2]s_title" data-lh-lang data-lhis="sliders-s_title">{{'pye31xbfw1j.lh_ahj487_title' | t }}</h4>
          <div class="lh-s-rating" data-rating=5 data-hub-attr-state="class%3D%22lh-s-rating%22%20data-rating%3D"   data-hub-attr-sliders_2_s_rating="sliders[2]s_rating" data-lhis="sliders-s_rating" ></div>
          <div class="lh-s-des"><p  data-lhi="sliders[2]s_des" data-lh-lang data-lhis="sliders-s_des">{{'pye31xbfw1j.lh_ahj487_des_html' | t }}</p></div>
          <div class="lh-s-member">
            <div class="lh-mem-img"  data-lhi="sliders[2]s_img" data-lhis="sliders-s_img"></div>
            <div class="lh-mem-name"  data-lhi="sliders[2]s_mem" data-lh-lang data-lhis="sliders-s_mem">{{'pye31xbfw1j.lh_ahj487_mem_html' | t }}</div>
          </div>
        </div>
      </div>
     
  </div>
  </div>
</div>
   </include></div>
</div>
  </section><!--/LH-SECTION-->{%schema%}
{
    "name": "Testimonial",
    "settings": [
        {
            "type": "header",
            "content": "The section generated by [LayoutHub](https:\/\/www.layouthub.com).",
            "info": "LayoutHub provides tons of pre-built Layouts and Blocks\/Sections and focus on the simplicity for content editing, to help the merchants easy to build a nice store with drag, sorting and edit content only. "
        },
        {
            "type": "paragraph",
            "content": "Edit this section [here](https:\/\/app.layouthub.com\/editor?page=page&id=5edfb982189131762a3bb1e2)"
        }
    ],
    "presets": [
        {
            "name": "Testimonial",
            "category": "LayoutHub"
        }
    ],
    "locales": {
        "es": {
            "pye31xbfw1j": {
                "title": "CLIENTES FELICES",
                "des_html": "Para nosotros lo m\u00e1s importante eres t\u00fa<!--lh-live-editor-->",
                "lh_ahjacp_title": "Me encanta",
                "lh_ahjacp_des_html": "Me encant\u00f3 todo y seguro seguir\u00e9 comprando. Tienen muchos productos naturales a granel. Es una gran opci\u00f3n para quienes queremos comprar cantidades peque\u00f1as y lo mejor es que tienen env\u00edos a todo M\u00e9xico.<!--lh-live-editor-->",
                "lh_ahjacp_mem_html": "Mariela, <i>Nutri\u00f3loga (Mazatl\u00e1n)<\/i>",
                "lh_ahj7ag_title": "Excelente compra",
                "lh_ahj7ag_des_html": "Hice mi primer pedido y literal se tard\u00f3 2 d\u00edas, nada a comparaci\u00f3n con otras paqueter\u00edas, mis respeto a Estado Natural. Est\u00e1 padr\u00edsimo porque literal puedes comprar desde 1 gr o hasta la cantidad que quieras. La neta tienen precios muy buenos.<!--lh-live-editor-->",
                "lh_ahj7ag_mem_html": "Samantha, <i>Nutri\u00f3loga (Monterrey)<\/i>",
                "lh_ahj487_title": "Incre\u00edble concepto",
                "lh_ahj487_des_html": "Conoc\u00ed esta tienda cuando visit\u00e9 la CDMX y me enamor\u00e9. Ped\u00ed a Veracruz y ya lleg\u00f3 mi paquete, s\u00faper recomendable. Muchas gracias Estado Natural por este bello proyecto<!--lh-live-editor-->",
                "lh_ahj487_mem_html": "Carmen, <i>(Veracruz)<\/i>"
            }
        },
        "en": {
            "pye31xbfw1j": {
                "title": "CLIENTES FELICES",
                "des_html": "Para nosotros lo m\u00e1s importante eres t\u00fa<!--lh-live-editor-->",
                "lh_ahjacp_title": "Me encanta",
                "lh_ahjacp_des_html": "Me encant\u00f3 todo y seguro seguir\u00e9 comprando. Tienen muchos productos naturales a granel. Es una gran opci\u00f3n para quienes queremos comprar cantidades peque\u00f1as y lo mejor es que tienen env\u00edos a todo M\u00e9xico.<!--lh-live-editor-->",
                "lh_ahjacp_mem_html": "Mariela, <i>Nutri\u00f3loga (Mazatl\u00e1n)<\/i>",
                "lh_ahj7ag_title": "Excelente compra",
                "lh_ahj7ag_des_html": "Hice mi primer pedido y literal se tard\u00f3 2 d\u00edas, nada a comparaci\u00f3n con otras paqueter\u00edas, mis respeto a Estado Natural. Est\u00e1 padr\u00edsimo porque literal puedes comprar desde 1 gr o hasta la cantidad que quieras. La neta tienen precios muy buenos.<!--lh-live-editor-->",
                "lh_ahj7ag_mem_html": "Samantha, <i>Nutri\u00f3loga (Monterrey)<\/i>",
                "lh_ahj487_title": "Incre\u00edble concepto",
                "lh_ahj487_des_html": "Conoc\u00ed esta tienda cuando visit\u00e9 la CDMX y me enamor\u00e9. Ped\u00ed a Veracruz y ya lleg\u00f3 mi paquete, s\u00faper recomendable. Muchas gracias Estado Natural por este bello proyecto<!--lh-live-editor-->",
                "lh_ahj487_mem_html": "Carmen, <i>(Veracruz)<\/i>"
            }
        }
    }
}
{%endschema%}